<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Restoran</title>
    <link rel="stylesheet" href="/css\styles.css">
    <!-- <script src="script.js"></script> -->
    <link rel="icon" type="image/x-icon" href="src\Logo.png">
</head>

<body>
    </head>

    <body>
        <%- include('layouts/nav.ejs') %>
            <!-- menu -->
            <div class="container">
                <h2></h2>
                <div class="search-container">
                    <input type="text" id="search-bar" placeholder="Search products...">
                    <button id="search-button">Search</button>
                </div>
                <!-- Sort Options -->>
                <div class="sort-options">
                    <button id="sort-original">Default</button>
                    <button id="sort-alpha">Sort by Alphabet</button>
                    <button id="sort-price">Sort by Price</button>
                </div>
                <!-- Filter buttons -->
                <div class="filter-btn">
                    <button class="filter-btn" onclick="filterSelection('all')">Show All</button>
                    <button class="filter-btn" onclick="filterSelection('above20000')">Price > 20K </button>
                            <button class="filter-btn" onclick="filterSelection('below20000')">Price < 20K </button>
                </div>
                <div class="shop-card">
                    <!--untuk memasukkan produk produk yang di menu-->

                    <% menus.forEach((menu , index)=> { %>
                        <div class="product">
                            <img src="/menu/<%= menu.image %>" alt="<%= menu.name %>">
                            <h3>
                                <%= menu.name %>
                            </h3>
                            <p class="desc">
                                <%= menu.description %>
                            </p>
                            <p class="price">
                                Rp.<%= menu.price %>
                            </p>
                            <button style="margin-top: 10px;" type="button" class="add-to-checkout btn"
                                data-index="<%= menu._id %>">Add to cart</button>
                            <button style="margin-top: 10px;" type="button" class="add-to-wishlist btn btn-primary"
                                data-index="<%= menu._id %>">Add to
                                Wishlist</button>
                        </div>
                        <% }) %>
                </div>
            </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/script.js"></script>
    <%- include('layouts/footer.ejs') %>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const addToWishlistButtons = document.querySelectorAll('.add-to-wishlist');
                const addToCheckout = document.querySelectorAll('.add-to-checkout');

                addToWishlistButtons.forEach(button => {
                    button.addEventListener('click', function (event) {
                        const index = event.target.getAttribute('data-index');
                        // Check if local storage is available
                        if (typeof (Storage) !== "undefined") {
                            let wishlist = localStorage.getItem('wishlist');

                            // If no wishlist exists in local storage, create a new one
                            if (!wishlist) {
                                wishlist = [];
                            } else {
                                wishlist = JSON.parse(wishlist);
                            }

                            // Check if the menu item is already in the wishlist
                            if (!wishlist.includes(index)) {
                                // Add the selected menu item to the wishlist
                                wishlist.push(index);

                                // Update the wishlist in local storage
                                localStorage.setItem('wishlist', JSON.stringify(wishlist));

                                alert('Menu added to wishlist!');
                            } else {
                                alert('This menu is already in your wishlist.');
                            }
                        } else {
                            alert('Local storage is not supported in this browser.');
                        }
                    });
                });


                addToCheckout.forEach(button => {
                    button.addEventListener('click', function (event) {
                        const index = event.target.getAttribute('data-index');
                        // Check if local storage is available
                        if (typeof (Storage) !== "undefined") {
                            let carts = localStorage.getItem('carts');

                            // If no carts exists in local storage, create a new one
                            if (!carts) {
                                carts = [];
                            } else {
                                carts = JSON.parse(carts);
                            }

                            // Check if the menu item is already in the cart
                            if (!carts.includes(index)) {
                                // Add the selected menu item to the carts
                                carts.push(index);

                                // Update the carts in local storage
                                localStorage.setItem('carts', JSON.stringify(carts));

                                alert('Menu added to cart!');
                            } else {
                                alert('This menu is already in your cart.');
                            }
                        } else {
                            alert('Local storage is not supported in this browser.');
                        }
                    });
                });

            });

        </script>



</body>

</html>