<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Restoran</title>
    <link rel="stylesheet" href="/css\styles.css">
    <!-- <script src="script.js"></script> -->
    <link rel="icon" type="image/x-icon" href="src\Logo.png">



    <style>
        h1,
        h2,
        h3,

        h5,
        span,
        li,
        p {
            color: #333;
        }

        .order {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .order h4 {
            margin-top: 0;
        }

        .order ul {
            list-style: none;
            padding: 0;
        }

        .order li {
            margin-bottom: 5px;
        }
    </style>
</head>

<body>
    </head>

    <body>
        <%- include('layouts/nav.ejs') %>
            <!-- menu -->
            <div class="container">
                <h3 class="">Daftar Pesanan</h3>
                <% orders.forEach(order=> { %>
                    <div class="order">
                        <h4 style="color: #333;">Pesanan <%= order._id %>
                        </h4>
                        <p>Total Harga: <%= order.totalPrice %>
                        </p>
                        <p>Status: <%= order.status ? 'Selesai' : 'Belum Selesai' %>
                        </p>
                        <h5>Detail Pesanan:</h5>
                        <ul>
                            <% order.items.forEach(item=> { %>
                                <li>
                                    <span>Nama <%= item.menuId.name %> Harga : <%= item.menuId.price %></span>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                    <% }) %>
            </div>


    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="/script.js"></script>
    <%- include('layouts/footer.ejs') %>
        <script>

        </script>

</body>

</html>