<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Restoran</title>
    <link rel="stylesheet" href="/css\styles.css">
    <script src="script.js"></script>
    <link rel="icon" type="image/x-icon" href="src\Logo.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>

<body>
    </head>

    <body>
        <%- include('layouts/nav.ejs') %>
            <!-- menu -->
            <div class="container">
                <h3>Setting Acount</h3>
                <form action="/user/settings/<%= user.id %>" method="post">
                    <div class="mb-4">
                        <label for="">Email</label>
                        <input type="email" name="email" value="<%= user.email %>" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="">Username</label>
                        <input type="text" name="username" value="<%= user.username %>" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="">password</label>
                        <input type="password" required name="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="/user/settings/delete/<%= user.id %>" class="btn btn-danger">Hapus Account</a>
                </form>
            </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="/script.js"></script>
    </body>
    <%- include('layouts/footer.ejs') %>

</body>

</html>