<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css\styles.css">

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .sidebar {
            position: fixed;
            width: 250px;
            height: 100%;
            background-color: #333;
            padding-top: 20px;
            color: #fff;
        }

        .sidebar a {
            display: block;
            padding: 10px;
            color: #fff;
            text-decoration: none;
        }

        .content {
            margin-left: 250px;
            padding: 20px;
        }

        .content h2 {
            margin-bottom: 20px;
        }

        h1,
        h3,
        h2,
        p,
        td {
            color: #333;
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <div class="sidebar">
        <a href="/admin"><i class="fas fa-home"></i> Dashboard</a>
        <a href="/admin/pesanan"><i class="fas fa-users"></i> Pesanan</a>
        <a href="/admin/menu"><i class="fas fa-users"></i> Menu</a>
        <a href="/admin/saran"><i class="fas fa-chart-line"></i> Saran</a>
        <a href="/admin/settings"><i class="fas fa-chart-line"></i> Settings</a>
        <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
    <!-- Content -->
    <div class="content">
        <h2>Setting Toko</h2>
        <button onclick="addToko()" class="btn btn-primary">Tambah Data Toko</button>
        <table>
            <thead>
                <tr>
                    <th>Alamat</th>
                    <th>Jam Buka</th>
                    <th>Kontak</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <% tokos.forEach(element=> { %>
                    <tr>
                        <td>
                            <%= element.alamat %>
                        </td>
                        <td>
                            <%= element.jam_buka %>
                        </td>
                        <td>
                            <%= element.kontak %>
                        </td>
                        <td>
                            <a href="/admin/settings/edit/<%= element._id %>"
                                style="text-decoration: underline;">edit</a>
                            <a style="text-decoration: underline; color: red;"
                                href="/admin/settings/delete/<%= element._id %>">hapus</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

<script>
    function addToko() {//
        window.location.href = "/admin/settings/add"
    }
</script>

</html>